.container {
  height: 4rem;
  width: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 0 0.5rem;
}

.icon {
  color: rgba(255, 255, 255, 0.85);
}
.icon:hover {
  color: white;
  cursor: pointer;
}
