.body {
  z-index: 1;
  position: absolute;
  top: 250px;
  height: 10rem;
  width: 240px;
  left: -20px;
  background-color: #0051ba;
  border-radius: 25% 25% 0 0;
}

.armDivider {
  z-index: 1;
  position: absolute;
  height: 114px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  top: 18.5rem;
}
.armDividerLeft {
  left: 12px;
}
.armDividerRight {
  right: 12px;
}
